<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB: Properties</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<h1>Properties</h1>

<h2>
  <%= flash[:notice] %>
</h2>

<ul>
  <% @properties.each do |property| %>
    <li class="property" id="property-<%= property.id %>"> 
      <%= property.name %>, <%= property.description %>, <%= property.price %>
      <form method="GET" action="/property/<%= property.id %>/book">
        <input type="submit" value="Book">
      </form>
    </li>
  <% end %>
</ul>

<% if @user %>
  <form method="get" action="/property/new">
    <input type="submit" value="Add a Property" class="general_button" />
  </form>

  <form method="get" action="/myaccount">
    <input type="submit" value="My Account" class="general_button" />
  </form>
<% else %>
  <form method="get" action="/sessions/new">
    <input type="submit" value="Sign in" class="general_button" />
  </form>

  <form method="get" action="/users/new">
    <input type="submit" value="Sign up" class="general_button" />
  </form>
<% end %>

</body>

</html>
