<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB: Properties</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div id="navbar">
  <nav class="navbar navbar-expand-md navbar-light sticky-top" >
      <a class="navbar-brand" href="/"><img id="logo" src="/css/images/paw.png" alt="dogbnb" style="width:7vh; height:7vh;"></a>         
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/sessions/new">Sign in</a>
  </nav>
  </div>
  
  <h1>Properties</h1>

  <h2>
    <%= flash[:notice] %>
  </h2>
  
    <% @properties.each do |property| %>
      <div class="property_card">  
        <img src= "/images/<%=property.image_route%>" width="300px">
        <div class="property_info_container">
          <h3><%= property.name %></h3>
          <p class="property_description"><%= property.description %></p>
          <p class="display_properties">Price per night: £<%= property.price %></p>
          <p class="display_properties">Available from: <%= property.available_from %></p>
          <p class="display_properties">Available until: <%= property.available_to %></p>
          <form method="GET" action="/property/<%= property.id %>/book">
            <input type="submit" value="Book" class="submit_form_button">
          </form>
        </div>
      </div>
      <br><br>
    <% end %>
  

  <% if @user %>
    <form method="get" action="/property/new">
      <input type="submit" value="Add a Property" class="general_button" />
    </form>

    <form method="get" action="/myaccount">
      <input type="submit" value="My Account" class="general_button" />
    </form>

    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out" class="general_button" />
    </form>
  <% end %>
  <br><br><br><br><br><br>
</body>

</html>
